html {
  height: 100%;
  width: 100%;
  background-color: #EAEAF4;
}
body {
  display: flex;
  align-items: stretch;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans';
}

.side-header {
  padding-left: 20px;
  font-size: medium;
  font-weight: bold;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  background-color: #1F1F3D;
  font-weight: bold;
  color: #E9E9F3;
}
.filter{
  border-top: 2px solid #353567;
  border-bottom:  2px solid #353567;
  padding-bottom: 40px;
  padding: 20px;
  font-size: 12px;
}

.show-star-btn {
  background-color: #5356A4;
  font-family: 'Open Sans';
  font-weight: bold;
  color: #E9E9F3;
  width: 90%;
  height:50%;
  border-style: none;
}

.form-cards {
  display: flex;
  flex-direction: column;

  width: 100%;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70%;
  background-color: #A9AAD2;
  font-weight: bold;
  font-size: 12px;
  color: #1F1F3D;
}

.border {
  border: 2px solid #5356A4;
  border-radius: 3px;
  width: 100%;
  color: none;
}

.form-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 25%
  /* border: 2px solid white;
} */
}



.form-search{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 70%;
  height: 25%;
  /* border: 4px solid pink; */
}


.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  /* border: 2px solid black; */

}

.title-heading{
  margin-bottom: 3px;
}

.textbox {
  height: 30%;
}

.paragraph-text {
  height: 75%;
}

.idea-search{
  display: flex;
  width: 70%;
  height: 10%;
  background-color: #5356A4;
}

.magnify-img {
  padding: 7px;
  width: 10%;
}



.save-btn {
  background-color: #5356A4;
  color: #E9E9F3;
  width: 70%;
  height: 10%;
  border-radius: 5px;
  border-style: none;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 25px;
}


.comment-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid black;
  height: 50%;
  width: 25%:
}
.comment-card{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
